<div class="row" id="Panel">
  <div class="col-md-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h1><%= t('views.profiles_show.title_p_show') %></h1>
        <br>
      </div>
      <div class="ibox-content">


        <p class="text-center">
          <strong><%= t('activerecord.atributes.name') %>:</strong>
          <%= @profile.name %>
        </p>

        <p class="text-center">
          <strong><%= t('activerecord.atributes.area') %>:</strong>
          <% if @profile.area.present? %>
              <% if @profile.area.name.present? %>
                  <%= @profile.area.name %>
              <% end %>
          <% else %>
              N/A
          <% end %>
        </p>

        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-8" align="center">
            <table class="table table-striped table-responsive">
              <thead>
              <tr>
                <!--<th>Name Vista</th>-->
                <th rowspan="2"><br><br><%= t('views.permisos_show.name_view') %></th>
                <th colspan="4" style="text-align: center"><%= t('views.permisos_show.permissions') %></th>
              </tr>


              <tr>
                <th>
                  <%= t('views.permisos_show.create') %>
                </th>
                <th>
                  <%= t('views.permisos_show.edit') %>
                </th>
                <th>
                  <%= t('views.permisos_show.read') %>
                </th>
                <th>
                  <%= t('views.permisos_show.edit') %>
                </th>


              </tr>

              </thead>

              <tbody>
              <tr bgcolor="#003057">
                <td colspan="5" bgcolor="#003057" style="color:white;"><b><h4><%= t('all.home') %></h4></b></td>
              </tr>
              <%# @total_profile.each do |f| %>
              <% @total_profile.each do |f| %>
                  <% if f.view_name == 'Home' %>
                      <tr>
                        <td><%= t('all.home') %></td>
                        <td>
                          --
                        </td>
                        <td>
                          --
                        </td>
                        <td>
                          <% if f.leer.present? %>
                              <% if f.leer == 2 %>
                                  <span class="fa fa-check"></span>
                              <% end %>
                          <% else %>
                              <span class="fa fa-times"></span>
                          <% end %>
                        </td>

                        <td>
                          --
                        </td>
                      </tr>
                  <% end %>
              <% end %>

              <tr bgcolor="#003057">
                <td colspan="5" bgcolor="#003057" style="color:white;">
                  <b><h4><%= t('views.profiles_edit.settings') %></h4></b></td>
              </tr>
              <%# @total_profile.each do |f| %>
              <% @total_profile.each do |f| %>
                  <% if f.view_name == 'Users' %>
                      <tr>
                        <td><%= t('all.user') %></td>
                        <td>
                          <% if f.view_name != 'Users' %>
                              <% if f.crear.present? %>
                                  <% if f.crear == 8 %>
                                      <span class="fa fa-check"></span>
                                  <% end %>
                              <% else %>
                                  <span class="fa fa-times"></span>
                              <% end %>
                          <% else %>
                              --
                          <% end %>
                        </td>
                        <td>
                          <% if f.editar.present? %>
                              <% if f.editar == 4 %>
                                  <span class="fa fa-check"></span>
                              <% end %>
                          <% else %>
                              <span class="fa fa-times"></span>
                          <% end %>
                        </td>
                        <td>
                          <% if f.leer.present? %>
                              <% if f.leer == 2 %>
                                  <span class="fa fa-check"></span>
                              <% end %>
                          <% else %>
                              <span class="fa fa-times"></span>
                          <% end %>
                        </td>

                        <td>
                          <% if f.eliminar.present? %>
                              <% if f.eliminar == 1 %>
                                  <span class="fa fa-check"></span>
                              <% end %>
                          <% else %>
                              <span class="fa fa-times"></span>
                          <% end %>
                        </td>
                      </tr>
                  <% end %>
                  <% if f.view_name == 'Profiles' %>
                      <tr>
                        <td><%= t('all.profiles') %></td>
                        <td>
                          <% if f.view_name != 'Users' %>
                              <% if f.crear.present? %>
                                  <% if f.crear == 8 %>
                                      <span class="fa fa-check"></span>
                                  <% end %>
                              <% else %>
                                  <span class="fa fa-times"></span>
                              <% end %>
                          <% else %>
                              --
                          <% end %>
                        </td>
                        <td>
                          <% if f.editar.present? %>
                              <% if f.editar == 4 %>
                                  <span class="fa fa-check"></span>
                              <% end %>
                          <% else %>
                              <span class="fa fa-times"></span>
                          <% end %>
                        </td>
                        <td>
                          <% if f.leer.present? %>
                              <% if f.leer == 2 %>
                                  <span class="fa fa-check"></span>
                              <% end %>
                          <% else %>
                              <span class="fa fa-times"></span>
                          <% end %>
                        </td>

                        <td>
                          <% if f.eliminar.present? %>
                              <% if f.eliminar == 1 %>
                                  <span class="fa fa-check"></span>
                              <% end %>
                          <% else %>
                              <span class="fa fa-times"></span>
                          <% end %>
                        </td>
                      </tr>
                  <% end %>
                  <% if f.view_name == 'Areas' %>
                      <tr>
                        <td><%= t('all.areas') %></td>
                        <td>
                          <% if f.view_name != 'Users' %>
                              <% if f.crear.present? %>
                                  <% if f.crear == 8 %>
                                      <span class="fa fa-check"></span>
                                  <% end %>
                              <% else %>
                                  <span class="fa fa-times"></span>
                              <% end %>
                          <% else %>
                              --
                          <% end %>
                        </td>
                        <td>
                          <% if f.editar.present? %>
                              <% if f.editar == 4 %>
                                  <span class="fa fa-check"></span>
                              <% end %>
                          <% else %>
                              <span class="fa fa-times"></span>
                          <% end %>
                        </td>
                        <td>
                          <% if f.leer.present? %>
                              <% if f.leer == 2 %>
                                  <span class="fa fa-check"></span>
                              <% end %>
                          <% else %>
                              <span class="fa fa-times"></span>
                          <% end %>
                        </td>

                        <td>
                          <% if f.eliminar.present? %>
                              <% if f.eliminar == 1 %>
                                  <span class="fa fa-check"></span>
                              <% end %>
                          <% else %>
                              <span class="fa fa-times"></span>
                          <% end %>
                        </td>
                      </tr>
                  <% end %>
                  <% if f.view_name == 'Views' %>
                      <tr>
                        <td><%= t('all.views') %></td>
                        <td>
                          <% if f.view_name != 'Users' %>
                              <% if f.crear.present? %>
                                  <% if f.crear == 8 %>
                                      <span class="fa fa-check"></span>
                                  <% end %>
                              <% else %>
                                  <span class="fa fa-times"></span>
                              <% end %>
                          <% else %>
                              --
                          <% end %>
                        </td>
                        <td>
                          <% if f.editar.present? %>
                              <% if f.editar == 4 %>
                                  <span class="fa fa-check"></span>
                              <% end %>
                          <% else %>
                              <span class="fa fa-times"></span>
                          <% end %>
                        </td>
                        <td>
                          <% if f.leer.present? %>
                              <% if f.leer == 2 %>
                                  <span class="fa fa-check"></span>
                              <% end %>
                          <% else %>
                              <span class="fa fa-times"></span>
                          <% end %>
                        </td>

                        <td>
                          <% if f.eliminar.present? %>
                              <% if f.eliminar == 1 %>
                                  <span class="fa fa-check"></span>
                              <% end %>
                          <% else %>
                              <span class="fa fa-times"></span>
                          <% end %>
                        </td>
                      </tr>
                  <% end %>
              <% end %>
              </tbody>
            </table>
          </div>
          <div class="col-md-2">
          </div>
        </div>
        <br>
        <div class="col-md-12 hr-line-dashed"></div>
        <% if @editarPerfil == 4 %>
            <% if current_user.profile.flag == 0 #Es un administrador central    %>
                <%= link_to '<span class="fa fa-user" ></span>  '.html_safe + t('views.profiles_show.edit_p_show'), edit_profile_path(@profile), :class => 'btn btn-xs btn-primary dim' %>
            <% else # Es cualquier otro perfil incluso administradores    %>
                <% if @profile.flag > current_user.profile.flag && @profile.area_id == current_user.area_id %>
                    <%= link_to '<span class="fa fa-user" ></span>  '.html_safe + t('views.profiles_show.edit_p_show'), edit_profile_path(@profile), :class => 'btn btn-xs btn-primary dim' %>
                <% end %>
            <% end %>
        <% end %>
        <%= link_to '<span class="fa fa-user" ></span>  '.html_safe + t('all.back'), profiles_path, :class => 'btn btn-xs btn-primary dim' %>

        <div> &nbsp; <br> &nbsp; <br> &nbsp;</div>
        <p> &nbsp; &nbsp; <br> &nbsp; &nbsp; <br> &nbsp; &nbsp; <br></p>
      </div>
    </div>
  </div>
</div>