<div class="middle-box text-center loginscreen   animated fadeInDown">

  <h1 class="logo-name">KM</h1>
  <br> <h3> <%= t('views.password_edit.keymonitor')%></h3>

  <h2><%= t('views.password_edit.change')%></h2>

  <br/>



  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: {method: :put}) do |f| %>
    <%= devise_error_messages! %>
    <%= f.hidden_field :reset_password_token %>

    <div class="form-group">
      <%= f.label :password, t('views.password_edit.new_password') %><br/>
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em><br/>
      <% end %>
      <div class="input-group">
        <%= f.password_field :password, class: "form-control", id:'pwd', autofocus: true, autocomplete: "off", :placeholder => t('views.password_edit.placeh_password') %>
        <span class="input-group-btn">
   <button class="btn btn-default" type="button" id="b1"><i class="fa fa-eye"></i></button>
   </span>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation, t('views.password_edit.confirm_password') %><br/>
      <div class="input-group">
        <%= f.password_field :password_confirmation, class: "form-control", id:'pdw2', autocomplete: "off", :placeholder => t('views.password_edit.placeh_conf_password') %>
        <span class="input-group-btn">
            <button class="btn btn-default " type="button" id="b2"><i class="fa fa-eye"></i></button>
          </span>
      </div>
    </div>

    <div class="actions">
      <%= f.submit t('views.password_edit.change_button'), class: 'btn btn-primary' %>
    </div>
    <br>
    <div class="actions">
      <%= link_to t('views.password_edit.back_pe'), new_user_session_path ,class: 'btn btn-primary', :data => {:no_turbolink => true} %>
    </div>

  <% end %>


  <p>
    <small><center>
      <%= render "devise/shared/links" %>
    </center></small>
  </p>
</div>


<script (type)="text/javascript">
    //$(".reveal").on('click',function() {
    $("#b1").mouseover(function() {
        var $pwd = $("#pwd");
        if ($pwd.attr('type') === 'password') {
            $pwd.attr('type', 'text');
        } else {
            $pwd.attr('type', 'password');
        }
    })

    $("#b1").mouseout(function(){
        var $pwd = $("#pwd");
        if ($pwd.attr('type') === 'text') {
            $pwd.attr('type', 'password');
        } else {
            $pwd.attr('type', 'text');
        }
    })
    ;

</script>


<script (type)="text/javascript">
    //$(".reveal").on('click',function() {
    $("#b2").mouseover(function() {
        var $pwd = $("#pwd2");
        if ($pwd.attr('type') === 'password') {
            $pwd.attr('type', 'text');
        } else {
            $pwd.attr('type', 'password');
        }
    })

    $("#b2").mouseout(function(){
        var $pwd = $("#pwd2");
        if ($pwd.attr('type') === 'text') {
            $pwd.attr('type', 'password');
        } else {
            $pwd.attr('type', 'text');
        }
    })
    ;
</script>

